.homepage-section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 4rem;

    button {
      background: #fff;
      border: 2px solid #a8a8a8;
      border-radius: 10px;
      color: #a8a8a8;
      font-size: 16px;
      font-weight: 500;
      padding: 0.5rem 0.8rem;
    }
    button:hover {
      border: 2px solid #666;
      color: #666;
    }
  }
}
