* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Nunito", "Roboto", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  a:visited {
    color: #fff;
  }
}

input {
  font-family: "Nunito";
  font-size: 14px;
  font-weight: 500;
}

button {
  cursor: pointer;
  font-family: "Nunito";
  font-size: 14px;
  font-weight: 500;
}

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 100px;
}

@import "./homepage";
@import "./header";
@import "./search";
@import "./masonry";
